{% sw_extends '@Storefront/storefront/component/product/card/box-standard.html.twig' %}

{% block component_product_box_name %}
    {{ parent() }}
    {% if config('SasVariantSwitch.config.showOnProductCard') %}
        {% block page_product_detail_configurator_groups %}
            {% set variantHoverSwitchOptions = {
                cardType: 'standard'
            } %}
            {% set configGroupID = config('SasVariantSwitch.config.groupNameListing') %}
            {% block component_offcanvas_product_details_variant_switch %}
                {% if product.extensions.groups %}
                    <div data-wrapper-id="sas-product-configurator-group-wrapper-{{ product.id }}">
                        {% for group in product.extensions.groups %}
                            {% if configGroupID != '' and group.id == configGroupID %}
                                {% set groupIdentifier = [product.id, group.id]|join('-') %}
                                {% block page_product_detail_configurator_group %}
                                    <div class="sas-product-configurator-group">
                                        {% sw_include '@Storefront/storefront/component/product/card/group/box-card-group-input.html.twig' %}
                                    </div>
                                {% endblock %}
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            {% endblock %}

        {% endblock %}
    {% endif %}
{% endblock %}
