{% block component_product_box_configurator_group_select %}
    {% if config('SasVariantSwitch.config.showTypeTextOnProductCard') %}
        {% if config('SasVariantSwitch.config.showTitleForGroupInListing') %}
            {% block component_product_box_configurator_group_title %}
                <div class="sas-product-configurator-group-title">
                    {% block component_product_box_configurator_group_select_title_text %}
                        {{ config('SasVariantSwitch.config.showTitleForGroupInListing') }}
                    {% endblock %}
                </div>
            {% endblock %}
        {% endif %}

        {% block component_product_box_configurator_options %}
            <div class="sas-product-configurator-options">
                {% for option in group.options %}
                    {% set optionIdentifier = [groupIdentifier, option.id]|join('-') %}
                    {% set isActive = false %}

                    {% if option.id in product.optionIds %}
                        {% set isActive = true %}
                    {% endif %}
                    {% if option.combinable %}
                        {% block component_product_box_configurator_option %}
                            <div class="sas-product-configurator-option">
                                {% block component_product_box_configurator_option_radio %}
                                    <a class="variant-product-listing-link" 
                                    href="{{ seoUrl('frontend.detail.page', {'productId': product.id}) }}" >
                                    {{ option.translated.name }}
                                    </a>
                                {% endblock %}
                            </div>
                        {% endblock %}
                    {% endif %}
                {% endfor %}
            </div>
        {% endblock %}
    {% endif %}
{% endblock %}
