<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>Variant Switch Configuration</title>
        <title lang="de-DE">Variante Schalterkonfiguration</title>

        <input-field type="bool">
            <name>showOnProductCard</name>
            <label>Show on product listing card</label>
            <label lang="de-DE">Auf der Produktliste anzeigen</label>
            <defaultValue>true</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>showTypeTextOnProductCard</name>
            <label>Show property type TEXT on product listing card</label>
            <label lang="de-DE">Eigenschaften-Darstellung TEXT auf der Produktliste anzeigen</label>
            <defaultValue>true</defaultValue>
        </input-field>

        <component name="sw-entity-single-select">
            <name>groupNameListing</name>
            <entity>property_group</entity>
            <label>Choose a property group to show on a listing page</label>
            <label lang="de-DE">Wählen Sie eine Eigenschaftsgruppe aus, die auf einer Auflistungsseite angezeigt werden soll</label>
        </component>

        <input-field type="text">
            <name>showTitleForGroupInListing</name>
            <label>Title for selected group above</label>
            <label lang="de-DE">Titel für die oben ausgewählte Gruppe</label>
        </input-field>
    </card>
</config>
